@import "../variables";

.button {
  border: 2px solid $tundora;
  color: $tundora;
  width: 259px;
  font-size: $mobile-up-desc;
  line-height: $mobile-up-line;
  font-weight: $font-bold;
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.button:hover,
.button:focus {
  background-color: $tundora;
  color: #ffffff;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

