@import "../variables";

.features__item {
  padding: 76px 41px 9px 30px;
  position: relative;
}

.features__item:first-child {
  padding-right: 93px;
}

.features__item:nth-child(2) {
  padding-right: 66px;
}

.features__item:nth-child(3) {
  padding-right: 85px;
}

.features__item::before {
  content: "";
  position: absolute;
  left: 34px;
  top: 23px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

.features__item--eco::before {
  background-image: url("../img/icon-feature-flower.svg");
  width: 32px;
  height: 38px;
}

.features__item--style::before {
  background-image: url("../img/icon-feature-money.svg");
  width: 46px;
  height: 28px;
}

.features__item--photo::before {
  background-image: url("../img/icon-feature-heart.svg");
  width: 34px;
  height: 28px;
}

.features__item--love::before {
  background-image: url("../img/icon-feature-ball.svg");
  width: 35px;
  height: 35px;
}

.features__item--prod::before {
  background-image: url("../img/icon-feature-rocket.svg");
  width: 55px;
  height: 33px;
}

.features__item--gift::before {
  background-image: url("../img/icon-feature-gift.svg");
  width: 33px;
  height: 33px;
}

@media (min-width: $tablet-width) {
  .features__item {
    width: 50%;
    margin-right: -38px;
    font-size: $tablet-up-sub;
    line-height: $tablet-feature-line;
    padding: 104px 47px 6px 36px;
  }

  .features__item:first-child {
    padding-right: 110px;
  }

  .features__item:nth-child(2) {
    padding-right: 76px;
  }

  .features__item:nth-child(3) {
    padding-right: 104px;
  }

  .features__item::before {
    top: 50px;
  }

  .features__item--photo::before {
    left: 42px;
  }

  .features__item--style {
    order: 2;
  }

  .features__item--photo {
    order: 4;
  }

  .features__item--love {
    order: 1;
  }

  .features__item--prod {
    order: 3;
  }

  .features__item--gift {
    order: 6;
  }
}

@media (min-width: $desktop-width) {
  .features__item {
    padding: 100px 23px 12px 32px;
    margin-right: 0;
  }

  .features__item:first-child {
    padding-right: 110px;
  }

  .features__item:nth-child(2) {
    padding-right: 76px;
  }

  .features__item:nth-child(3) {
    padding-right: 104px;
  }

  .features__item::before {
    left: 36px;
    top: 48px;
  }
}
