@import "../variables";

.page-main {
  margin-top: 7px;
}

@media (min-width: $tablet-width) {
  .page-main {
    margin-top: 27px;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    margin-top: 107px;
  }
}
