@import "variables";

.about-us {
  font-weight: $font-bold;
  margin-top: 70px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    top: -35px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: auto 6px;
  }


  &__title {
    font-size: $mobile-h2;
    margin-left: 30px;
    letter-spacing: 0.5px;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: $mobile-up-desc;
    line-height: $mobile-up-line;
  }
}

@media (min-width: $tablet-width) {
  .about-us {
    margin-top: 120px;

    &::before {
      height: 17px;
      top: -68px;
      background-size: auto 17px;
    }

    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: 16px;
    }

    &__title {
      margin-left: 50px;
      font-size: $tablet-h1;
      line-height: $tableth1-lineh;
    }
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    &::before {
      height: 23px;
      top: -48px;
      background-size: auto 23px;
    }

    &__title {
      font-size: $desktop-h1;
      line-height: $desktoph1-lineh;
      padding-top: 38px;
      padding-left: 177px;
    }

    &__list {
      width: 700px;
      margin-left: 193px;
    }
  }
}
