@import "variables";

.about-us {
  font-weight: $font-bold;

  &__title {
    font-size: $mobile-h2;
    margin-left: 30px;
  }

  &__list {
    list-style: none;
    font-size: $mobile-up-desc;
    line-height: $mobile-up-line;
  }
}

@media (min-width: $tablet-width) {
  .about-us {
    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__title {
      margin-left: 50px;
      font-size: $tablet-h1;
      line-height: $tableth1-lineh;
    }
  }
}

@media (min-width: $tablet-width) {
  .about-us {
    &__title {
      font-size: $desktop-h1;
      line-height: $desktoph1-lineh;
    }
  }
}
