@import "variables";

.about-us {
  font-weight: $font-bold;

  &__title {
    font-size: 25px;
  }

  &__list {
    list-style: none;
    font-size: 17px;
    line-height: 20px;
  }
}

@media (min-width: $tablet-width) {
  .about-us {
    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

@media (min-width: $desktop-width) {
  .about-us {

  }
}
