@import "variables";

.button {
  border: 2px solid $tundora;
  color: $tundora;
  width: 259px;
  font-size: $mobile-up-desc;
  line-height: $mobile-up-line;
  font-weight: $font-bold;
  display: block;
  text-align: center;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: $tundora;
    color: #ffffff;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
