@import "variables";

.button {
  border: 2px solid $tundora;
  color: $tundora;
  width: 255px;
  font-size: $mobile-up-desc;
  line-height: $mobile-up-line;
  font-weight: $font-bold;
  display: block;
  text-align: center;
}
