@import "variables";

.characters {
  border-collapse: collapse;

  &__title {
    font-weight: 400;
    padding-right: 27px;
    padding-top: 10px;
    padding-bottom: 11px;
    border-bottom: 1px solid $gallery;
  }

  &__desc {
    border-bottom: 1px solid $gallery;
    padding-right: 30px;
  }
}
