@import "variables";

.contacts {
  margin-top: 87px;
  margin-bottom: 22px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    top: -43px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: auto 6px;
  }

  &__container {
    padding: 15px 0;
  }

  &__wrap-address {
    margin-left: 30px;
    margin-right: 30px;
  }

  &__wrap-email {
    display: flex;
  }

  &__wrap-place {
    display: flex;
  }

  &__title {
    font-size: $mobile-contact;
    width: 260px;
    margin: 0 auto;
  }

  &__address {
    color: $tundora;
    padding-right: 23px;
    margin-top: 11px;
    padding-bottom: 4px;
  }

  &__address--inf {
    padding-right: 0;
    padding-left: 9px;
  }

  &__address--link {
    border-bottom: 1px solid $downy;
    margin-bottom: 18px;
    padding-bottom: 0;
  }

  &__address--link:hover,
  &__address--link:focus {
    color: $puerto-rico;
    border-bottom: 1px solid $puerto-rico;
  }

  &__address--link:active {
    opacity: 0.3;
  }

  &__img {
    margin-top: 18px;
    background-color: #f4e9d7;
    background-image: url("../img/map-mobile@1x.jpg");
    width: 322px;
    height: 457px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-mobile@2x.jpg");
      background-size: 322px auto;
    }
  }

  &__button {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 31px;
    padding: 15px 0 14px 0;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-top: 109px;
    margin-bottom: 0;

    &::before {
      height: 17px;
      top: -44px;
      background-size: auto 17px;
    }

    &__container {
      padding-top: 1px;
    }

    &__wrap-address {
      margin-left: 50px;
      margin-right: 50px;
      display: flex;
      padding-top: 2px;
    }

    &__title {
      font-size: $tablet-h1;
      line-height: $tableth1-lineh;
      padding: 35px 0 37px 0;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      background-position: right;
      width: 668px;
    }

    &__wrap-email {
      padding-right: 54px;
      font-size: $mobile-up-desc;
      line-height: $tablet-star-line;
    }

    &__address--inf {
      padding-left: 4px;
    }

    &__address--link {
      margin-bottom: 80px;
    }

    &__wrap-place {
      font-size: $mobile-up-desc;
      line-height: $tablet-star-line;
    }

    &__map {
      width: 768px;
      height: 457px;
    }

    &__img {
      margin-top: 33px;
      background-image: url("../img/map-tablet@1x.jpg");
      width: 768px;
      height: 457px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/map-tablet@2x.jpg");
        background-size: 768px auto;
      }
    }

    &__img iframe {
      width: 768px;
      height: 457px;
    }

    &__button {
      margin: 44px auto;
      width: 230px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    margin-top: 160px;
    margin-bottom: 80px;

    &::before {
      height: 23px;
      top: -92px;
      background-size: auto 23px;
    }

    &__container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }

    &__title {
      font-size: $desktop-h1;
      line-height: $desktoph1-lineh;
      margin-left: 113px;
      padding-left: 109px;
      width: 525px;
      padding-top: 75px;
      background-position: left 63px;
    }

    &__wrap-address {
      padding-left: 174px;
      display: block;
      margin-right: 12px;
    }

    &__wrap-email {
      display: flex;
      margin-top: -4px;
    }

    &__wrap-place {
      display: flex;
    }

    &__button {
      order: 2;
      margin: -61px 0 9px 225px;
    }

    &__map {
      width: 525px;
      height: 457px;
    }

    &__img {
      margin-top: -165px;
      background-image: url("../img/map-desktop@1x.jpg");
      width: 525px;
      height: 457px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/map-desktop@2x.jpg");
        background-size: 525px auto;
      }

      &__img iframe {
        width: 525px;
        height: 457px;
      }

      &__address--link {
        margin-bottom: 20px;
      }
    }
  }
}
