@import "variables";

.feedback {
  &__title {
    font-size: $mobile-h2;
    margin-top: 38px;
    padding-left: 30px;
  }

  &__content {
    color: $tundora;
    margin-top: 24px;
    padding-left: 30px;
    padding-right: 30px;
  }

  &__sign {
    font-size: $mobile-up-desc;
    font-weight: $font-bold;
    margin-top: 24px;
    margin-bottom: 0;
    padding-left: 30px;
  }

  &__nickname {
    font-size: $mobile-up-desc;
    color: $tundora;
    margin-top: 0;
    padding-left: 30px;
  }

  &__wrap-button {
    width: 260px;
    margin: 30px;
  }

  &__arrow {
    background-color: #ffffff;
    border: 1px solid #ececec;
    height: 52px;
    width: 130px;
    padding: 0;
    background-repeat: no-repeat;
    background-position: 38px 12px;
    font-size: 0;
  }

  &__arrow:hover,
  &__arrow:focus {
    opacity: 0.6;
  }

  &__arrow:active {
    opacity: 0.3;
  }

  &__arrow--back {
    margin-right: -4px;
    margin-left: -1px;
    background-image: url("../img/icon-left-arrow.svg");
  }

  &__arrow--next {
    background-image: url("../img/icon-right-arrow.svg");
  }

  &__button {
    padding: 15px 0 14px 0;
    margin: 36px 30px;
  }
}

@media (min-width: $tablet-width) {
  .feedback {
    margin-top: 40px;

    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background-image: url("../img/review@1x.jpg");
      background-repeat: no-repeat;
      background-size: 350px auto;
    }

    &__wrap-content {
      display: flex;
      flex-direction: column;
      order: 2;
      font-size: $mobile-up-desc;
      line-height: $tablet-star-line;
    }

    &__content {
      margin-top: 10px;
      font-size: $mobile-up-desc;
      line-height: $tablet-star-line;
      padding-left: 50px;
      padding-right: 50px;
    }

    &__sign {
      font-size: $mobile-contact;
      margin-top: 37px;
      padding-left: 50px;
    }

    &__nickname {
      padding-left: 50px;
    }

    &__wrap-button {
      order: 3;
      margin: -55px -16px 48px auto;
    }

    &__arrow {
      border: none;
      background-color: transparent;
      width: 89px;
    }

    &__title {
      font-size: $tablet-h1;
      line-height: $tableth1-lineh;
      margin-top: 78px;
      padding-left: 50px;
    }

    &__button {
      width: 175px;
      margin-top: 78px;
      margin-right: 50px;
      height: 52px;
    }
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    margin-top: 34px;

    &__container {
      padding: 0 50px 61px;
      background-position: 50px 0;
    }

    &__wrap-content {
      padding-left: 175px;
      padding-right: 80px;
    }

    &__title {
      font-size: $desktop-h1;
      line-height: $desktoph1-lineh;
      margin-top: 71px;
      padding-left: 170px;
    }

    &__content {
      margin-top: 5px;
      padding: 0;
    }

    &__sign {
      margin-top: 18px;
      font-size: $mobile-up-desc;
      line-height: $tablet-star-line;
      padding: 0;
    }

    &__nickname {
      padding: 0;
    }

    &__wrap-button {
      margin: -55px -66px 35px auto;
    }

    &__button {
      margin-right: 0;
    }
  }
}
