@import "variables";

.filter-form {
  display: flex;
  flex-direction: column;

  &__group {
    border: none;
    padding: 0;
    margin: 0;
  }

  &__container-group {
    padding: 0 30px 7px 30px;
    margin: 0;
  }

  &__container-group--phone {
    margin-top: -5px;
    padding-bottom: 5px;
  }

  &__container-group--add {
    padding-bottom: 0;
  }

  &__title {
    font-size: $mobile-up-desc;
    line-height: $mobile-form-line;
    font-weight: $font-bold;
    color: $light-green;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__title--color {
    margin-bottom: 10px;
    margin-top: 30px;
  }

  &__title--tel {
    margin-bottom: 10px;
  }

  &__title--mail {
    margin-bottom: 7px;
  }

  &__control {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__label-title {
    font-size: $mobile-up-desc;
    line-height: $mobile-label-line;
    font-weight: $font-bold;
    padding-top: 12px;
  }

  &__input--radio {
    display: none;
  }

  &__label--radio {
    position: relative;
    padding: 16px 0 8px 63px;
  }

  &__label--radio::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 38px;
    height: 38px;
    border: 2px solid #444444;
    border-radius: 50%;
  }

  &__input--radio:checked + .filter-form__label--radio::after {
    content: "";
    position: absolute;
    top: 19px;
    left: 11px;
    width: 16px;
    height: 16px;
    background-color: #62d1ba;
    border-radius: 50%;
  }

  &__input--check {
    display: none;
  }

  &__label--check {
    position: relative;
    width: 191px;
    padding: 28px 0 16px 63px;
  }

  &__label--check::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 0;
    width: 39px;
    height: 39px;
    border: 2px solid black;
  }

  &__input--check:checked + .filter-form__label--check::after {
    content: "";
    position: absolute;
    top: 23px;
    left: 4px;
    width: 37px;
    height: 37px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
  }

  &__input[type="text"],
  &__input[type="tel"],
  &__input[type="email"] {
    border: none;
    font-size: $mobile-up-sub;
    line-height: $tablet-label-line;
    border-bottom: 2px solid #000000;
    padding: 3px 0 11px 0;
    margin: 10px 0 10px 0;
  }

  &__input[type="text"]::placeholder {
    font-size: $mobile-up-desc;
    line-height: $mobile-label-line;
  }

  &__field {
    margin-top: 4px;
    width: 258px;
    min-height: 142px;
    border: 2px solid #444444;
    resize: none;
    padding: 16px 10px 10px 14px;
    font-size: $mobile-up-desc;
    line-height: $mobile-label-line;
  }

  &__bottom-star {
    font-size: $mobile-star;
    line-height: $mobile-star-line;
    color: $tundora;
    margin-top: 16px;
    padding: 0 30px 0 30px;
  }

  &__icon {
    position: absolute;
    right: 6px;
    top: 12px;
  }

  &__button {
    background-color: #ffffff;
    margin: 15px 30px 35px 30px;
    padding: 15px 0 15px 0;
  }
}

@media (min-width: $tablet-width) {
  .filter-form {
    &__group--background {
      background-color: #f1f1f1;
    }

    &__container-group {
      padding: 50px 50px 26px;
      display: flex;
      flex-direction: row;
    }

    &__container-group--type {
      padding: 57px 50px 15px;
    }

    &__container-group--name {
      padding: 69px 50px 15px;
    }

    &__container-group--phone {
      padding: 58px 50px 15px;
      margin-top: 2px;
    }

    &__container-group--mail {
      padding: 0 50px 15px;
      margin-top: -14px;
    }

    &__container-group--add {
      padding: 54px 54px 15px;
      margin-top: 2px;
    }

    &__control {
      padding: 0 0 0 124px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__control--radio {
      padding: 0 0 0 167px;
    }

    &__control--bottom {
      padding: 0 50px;
      margin-top: 35px;
    }

    &__bottom-star {
      order: 2;
      font-size: $mobile-up-desc;
      line-height: $tablet-star-line;
    }

    &__label-title {
      font-size: $mobile-up-sub;
      line-height: $tablet-label-line;
      font-weight: $font-bold;
    }

    &__label--radio {
      width: 316px;
      padding: 15px 0 42px 44px;
    }

    &__label--radio::before {
      top: 0;
      left: -38px;
      width: 53px;
      height: 51px;
    }

    &__input--radio:checked + .filter-form__label--radio::after {
      top: 15px;
      left: -23px;
      width: 22px;
      height: 22px;
    }

    &__label--check::before {
      width: 52px;
      height: 52px;
      top: 14px;
    }

    &__input--check:checked + .filter-form__label--check::after {
      top: 30px;
      left: 10px;
    }

    &__label--check {
      padding: 30px 0 27px 80px;
      width: 238px;
    }

    &__input[type="text"],
    &__input[type="tel"],
    &__input[type="email"] {
      width: 375px;
      padding: 0 0 13px 20px;
      margin: 8px 0 27px 0;
    }

    &__input[type="tel"] {
      width: 501px;
      margin-left: 6px;
      background-color: #f1f1f1;
    }

    &__input[type="email"] {
      width: 502px;
      margin-left: -16px;
      background-color: #f1f1f1;
    }


    &__input--name[type="text"] {
      width: 428px;
    }

    &__field {
      width: 501px;
    }

    &__icon {
      right: 22px;
      top: 10px;
    }

    &__bottom-star {
      margin: 0;
      padding: 10px 0;
    }

    &__button {
      margin: 0 0 49px 0;
      width: 230px;
    }

    //&__group:nth-child(2n) {
    //  background-color: $seashell;
    //}
  }
}

//@media (min-width: $desktop-width) {
//  .filter-form {
//
//  }
//}
