@import "variables";

.form-size {
  &__description {
    text-align: center;
    color: $tundora;
    margin-top: 12px;
    padding-bottom: 6px;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__button {
    margin: 0 auto;
    width: 260px;
    background-color: $light-green;
    border: none;
    color: #ffffff;
    padding: 18px 0 16px 0;
  }

  &__input {
    display: none;
  }

  &__input + .form-size__label {
    border: 2px solid $gallery;
    padding: 18px 30px 16px 30px;
  }

  &__input + .form-size__label:hover,
  &__input + .form-size__label:focus {
    border: 2px solid $silver;
  }

  &__input:checked + .form-size__label {
    border: 2px solid $downy;
  }

  &__label {
    display: flex;
    width: 78px;
  }
}

@media (min-width: $tablet-width) {
  .form-size {
    &__button {
      margin: 0 auto;
      width: 350px;
    }

    &__wrap {
      width: 350px;
      margin: 0 auto;
      padding-bottom: 30px;
    }

    &__label::before {
      width: 108px;
    }

    &__description {
      font-size: $mobile-up-desc;
      line-height: $tablet-star-line;
    }
  }
}
