@import "variables";

.main-navigation {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: $font-bold;
  }

  &__container {
    position: relative;
  }

  &__toggle {
    position: absolute;
    top: -63px;
    right: 0;
    z-index: 2;
    display: block;
    width: 68px;
    height: 50px;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
  }

  &__button-menu--closed .main-navigation__toggle::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 17px;
    width: 20px;
    height: 2px;
    background-color: #000000;
    box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
  }

  &__button-menu--closed .main-navigation__toggle:active::before {
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.3), 0 12px 0 0 rgba(0, 0, 0, 0.3);
  }

  &__button-menu--opened .main-navigation__toggle {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 22px;
      left: 17px;
      width: 26px;
      height: 2px;
      background-color: #000000;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:active::before,
    &:active::after {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  &__button-menu--opened .main-navigation__container {
    position: absolute;
    background-color: #ffffff;
    top: 80px;
    width: 320px;
    z-index: 1;
  }

  &__button-menu--nojs .main-navigation__toggle {
    display: none;
  }

  &__button-menu--nojs .main-navigation__container {
    position: static;
    min-height: 0;
  }

  &__button-menu--nojs .site-list__item {
    display: block;
  }

  &__button-menu--nojs .user-list__item {
    display: block;
  }
}

@media (max-width: $mobile-width-only) {
  .main-navigation {
    &__button-menu--closed .site-list__item {
      display: none;
    }

    &__button-menu--closed .user-list__item {
      display: none;
    }
  }
}

@media (min-width: $tablet-width) {
  .main-navigation {
    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 347px;
    }

    &__list {
      display: flex;
      line-height: $tablet-feature-line;
    }

    &__toggle {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-navigation {
    &__list {
      display: flex;
    }

    &__container {
      width: 1050px;
    }
  }
}
