@import "variables";

.modal {
  width: 320px;
  min-height: 336px;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid $silver;
  box-shadow: 0 5px 10px $silver;
  padding: 30px;
  display: none;
  z-index: 15;

  &__title {
    font-size: $mobile-h2;
    line-height: $mobile-form-title;
    font-weight: $font-bold;
    width: 144px;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
  }

  &__overlay--show {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .modal {
    width: 567px;
    min-height: 336px;

    &__title {
      font-size: $tablet-modal;
      line-height: $tablet-modal-line;
      font-weight: $font-bold;
      text-align: center;
      width: 351px;
    }
  }
}
