@import "variables";

.page-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &__title {
    font-size: $mobile-h1;
    line-height: $mobileh1-lineh;
    font-weight: $font-bold;
    text-align: center;
    margin: 0 auto;
    width: 260px;
    padding-top: 73px;
    letter-spacing: 1.1px;
  }

  &__logo {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo-image {
    margin-top: 10px;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    &__title {
      font-size: $tablet-h1;
      line-height: $tableth1-lineh;
      width: 668px;
      padding-top: 98px;
      letter-spacing: 2.2px;
    }

    &__inner-title {
      padding-top: 40px;
    }

    &__wrapper {
      display: flex;
      width: 668px;
    }

    &__logo {
      height: 89px;
      width: 167px;
      margin-right: 154px;
      display: block;
    }

    &__logo:hover {
      opacity: 0.6;
    }

    &__logo:active {
      opacity: 0.3;
    }

    &__logo-image {
      margin: 0;
      padding-top: 23px;
      width: 113px;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    &__title {
      font-size: $desktop-h1;
      line-height: $desktoph1-lineh;
    }

    &__wrapper {
      display: flex;
      position: relative;
      width: 1050px;
    }

    &__logo {
      position: absolute;
      left: 42%;
      top: -17%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      z-index: 10;
    }

    &__logo-image {
      margin: 0;
      width: 149px;
    }

    &__logo:hover {
      opacity: 0.6;
    }

    &__logo:active {
      opacity: 0.3;
    }
  }
}
