@import "variables";

.page-order {
  &__description {
    color: $tundora;
    font-size: $mobile-low;
    line-height: $mobile-desc-line;
    width: 260px;
    margin: 0 auto;
    padding-top: 23px;
    letter-spacing: 0.9px;
  }
}

@media (min-width: $tablet-width) {
  .page-order {
    &__description {
      width: 668px;
      font-size: $mobile-up-desc;
      line-height: $tablet-star-line;
      padding-top: 74px;
      letter-spacing: 0.5px;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-order {
    &__description {
      width: 1050px;
    }
  }
}
