@import "variables";

.products {
  padding: 0;
  list-style: none;

  &__item {
    display: flex;
    flex-direction: column;
    margin: 28px 30px 0;
    border: 1px solid $gallery;
  }

  &__wrap-desc {
    padding: 0 28px 21px 28px;
  }

  &__item:hover .products__wrap-desc,
  &__item:focus .products__wrap-desc {
    box-shadow: 0 6px 10px 0 $gallery;
  }

  &__item:active .products__wrap-desc {
    box-shadow: 0 3px 5px 0 $gallery;
  }

  &__title {
    font-size: $mobile-up-desc;
    line-height: $mobile-h3-line;
    font-weight: $font-bold;
    cursor: pointer;
    margin-top: 19px;
    margin-bottom: 0;
  }

  &__title:hover,
  &__title:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &__title:active {
    color: rgba(0, 0, 0, 0.3);
  }

  &__wrap-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 29px;
  }

  &__description {
    font-size: $mobile-low;
    color: $tundora;
    margin-top: 7px;
  }

  &__price {
    font-weight: $font-bold;
    line-height: $mobile-hit-line;
    margin: 0;
    position: relative;
  }

  &__price::before {
    content: "";
    position: absolute;
    width: 205px;
    height: 1px;
    top: -24px;
    background-color: $gallery;
  }

  &__basket {
    cursor: pointer;
  }

  &__basket .products__icon {
    fill: $alto;
  }

  &__basket:hover .products__icon,
  &__basket:focus .products__icon {
    fill: $light-green;
  }

  &__basket:active .products__icon {
    fill: $iceberg;
  }
}

@media (min-width: $tablet-width) {
  .products {
    margin-top: 80px;

    &__item {
      flex-direction: row;
      padding-bottom: 0;
      margin: 0 50px 55px;
    }

    &__img {
      margin-bottom: -10px;
    }

    &__image {
      width: 334px;
    }

    &__title {
      font-size: $tablet-up-sub;
      line-height: $tablet-h3-line;
      width: 334px;
      padding: 8px 64px 0 28px;
    }

    &__wrap-desc {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__description {
      font-size: $mobile-desc;
      line-height: $tablet-desc-line;
      padding-left: 29px;
    }

    &__wrap-price {
      margin-bottom: 18px;
      padding: 0 32px 0 33px;
    }

    &__price {
      font-size: $mobile-up-desc;
      line-height: $mobile-h3-line;
    }

    &__price::before {
      width: 268px;
    }
  }
}

@media (min-width: $desktop-width) {
  .products {
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
    padding: 0 50px;

    &__title {
      padding: 10px 68px 0 25px;
    }

    &__item {
      flex-direction: column;
      width: 315px;
      margin: 0;
    }

    &__img {
      width: 315px;
      min-height: 462px;
    }

    &__wrap-desc {
      min-height: 197px;
    }
    &__description {
      padding-left: 25px;
      margin-top: 5px;
    }

    &__wrap-price {
      padding: 0 33px 0 25px;
    }

    &__price::before {
      width: 256px;
    }
  }
}
