@import "variables";

.product-category {
  background-color: #f9f9f9;

  &__list {
    list-style: none;
  }

  &__link__light-green {
    @include link-green;
    background-color: #63d1bb;
  }

  &__link__dark-green {
    @include link-green;
    background-color: #56c3b2;
  }
}

