@import "variables";

.product-hit {
  color: $tundora;
  margin: 0 30px;
  display: flex;
  flex-direction: column;

  &__title {
    font-size: $mobile-h2;
    font-weight: $font-bold;
  }

  &__subtitle {
    font-size: $mobile-up-desc;
    line-height: $mobile-up-line;
    font-weight: $font-bold;
    color: $light-green;
    text-transform: uppercase;
    margin-top: -15px;
    margin-left: -1px;
  }

  &__description {
    line-height: $mobile-hit-line;
    margin-top: 6px;
    letter-spacing: 0.6px;
  }

  &__table {
    line-height: $mobile-table-line;
    text-align: left;
    margin-bottom: 27px;
  }

  &__price {
    font-size: $mobile-up-desc;
    line-height: $mobile-up-line;
    font-weight: $font-bold;
    text-align: center;
    letter-spacing: 0.4px;
  }
}

@media (min-width: $tablet-width) {
  .product-hit {
    margin-right: 50px;
    margin-left: 50px;

    &__wrap-title {
      display: flex;
      background-color: palevioletred;
    }

    &__title {
      text-align: left;
      width: 553px;
    }

    &__subtitle {
      text-align: center;
      width: 115px;
    }

    &__description {
      font-size: $mobile-up-desc;
      line-height: $tablet-product-line;
    }

    &__wrap-desc {
      width: 334px;
    }

    &__container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__wrap-img {
      background-color: lightblue;
      width: 333px;
      height: 404px;
    }

    &__wrap {
      background-color: lightyellow;
    }
  }
}

@media (min-width: $desktop-width) {
  .product-hit {
    &__title {
      order: 2;
    }

    &__container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__wrap-img {
      width: 525px;
      height: 636px;
    }
  }
}
