@import "variables";

@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", "Arial", "Verdana", sans-serif;
  font-size: $mobile-desc;
  line-height: $tablet-desc-line;
  font-weight: 400;
  color: #000000;
  margin: 0;
  padding: 0;
  min-width: 320px;
  box-sizing: border-box;
  overflow-x: hidden;
}

@media (min-width: $tablet-width) {
  body {
    min-width: 768px;
  }
}

@media (min-width: $desktop-width) {
  body {
    min-width: 1150px;
  }
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
