@import "variables";

.site-list {
  &__link {
    display: block;
    padding: 26px 30px 29px 77px;
    font-size: $mobile-up-desc;
    line-height: $mobile-h3-line;
    letter-spacing: 0.7px;
    border-top: 1px solid #ececec;
  }

  &__link:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &__link:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    order: 2;
    margin-left: -322px;
    z-index: 1;

    &__link {
      padding: 17px 34px 0 0;
      font-size: $mobile-desc;
      line-height: $mobile-hit-line;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    order: 0;
    margin: 0;

    &__item {
      border-right: 1px solid #ececec;
      padding-top: 15px;
    }

    &__link {
      font-size: $mobile-up-desc;
      line-height: $mobile-h3-line;
      padding-right: 34px;
      border-top: none;
    }

    &__item:nth-child(2) {
      padding-left: 33px;
    }
  }
}
