@import "variables";

.site-list {
  list-style: none;
  line-height: $middle-line-height;
  font-weight: 700;

  &__link {
    font-size: 17px;
    display: block;
    padding: 30px 30px 0 77px;
  }
}

