@import "variables";

.user-list {
  &__link {
    display: block;
    padding: 26px 30px 29px 77px;
    border-top: 1px solid #ececec;
    font-size: $mobile-up-desc;
    line-height: $mobile-h3-line;
    letter-spacing: 0.7px;
  }

  &__link:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &__link:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .user-list {
    background-color: khaki;
    height: 89px;

    &__link--search {
      width: 83px;
      padding: 0;
      border-left: 1px solid #ececec;
      background-color: #ffffff;
    }

    &__link--basket {
      width: 265px;
      border-left: 1px solid #ececec;
      padding: 31px 0 34px 80px;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    background-color: khaki;
    width: 350px;
  }
}
