@import "variables";

.user-list {
  &__link {
    display: block;
    padding: 26px 30px 29px 77px;
    border-top: 1px solid #ececec;
    font-size: $mobile-up-desc;
    line-height: $mobile-h3-line;
    letter-spacing: 0.7px;
  }

  &__link:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &__link:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .user-list {
    //background-color: khaki;
    height: 89px;

    &__link--search {
      width: 83px;
      border-left: 1px solid #ececec;
      background-color: #ffffff;
      padding: 35px 30px 29px 30px;
    }

    &__link--search path {
      fill: #ececec;
    }

    &__link--search:hover path {
      fill: #63d1bb;
    }

    &__link--search:active path {
      fill: rgba(99, 209, 187, 0.3);
    }

    &__link--basket {
      width: 265px;
      border-left: 1px solid #ececec;
      padding: 31px 0 34px 0;
      display: flex;
    }

    &__desc {
      margin: 0;
      padding-left: 30px;
    }

    &__link--basket svg {
      margin-left: 30px;
      margin-top: 2px;
    }

    &__link--basket path {
      fill: #ececec;
    }

    &__link--basket:hover path {
      fill: #63d1bb;
    }

    &__link--basket:active path {
      fill: rgba(99, 209, 187, 0.3);
    }
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    background-color: khaki;
    width: 350px;
  }
}
