@import "variables";

.user-list {
  &__link {
    display: block;
    padding: 26px 30px 30px 31px;
    border-top: 1px solid $gallery;
    font-size: $mobile-up-desc;
    line-height: $mobile-h3-line;
  }

  &__link:hover,
  &__link:focus {
    opacity: 0.6;
  }

  &__link:active {
    opacity: 0.3;
  }

  &__link--basket {
    display: flex;
  }

  &__link--search {
    display: flex;
  }

  &__icon {
    fill: $alto;
    margin-right: 25px;
  }
}

@media (min-width: $tablet-width) {
  .user-list {
    &__link--search {
      width: 83px;
      height: 89px;
      border: 1px solid #ececec;
      border-bottom: none;
      background-color: #ffffff;
      padding: 33px 0 34px 31px;
      font-size: 0;
    }

    &__link--search:hover .user-list__icon,
    &__link--search:focus .user-list__icon {
      fill: $light-green;
    }

    &__link--search:active .user-list__icon {
      opacity: 0.3;
    }

    &__link--basket {
      padding: 31px 0 34px 0;
    }

    &__link--basket .user-list__icon {
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 2px;
    }

    &__link--basket:hover .user-list__icon,
    &__link--basket:focus .user-list__icon {
      fill: $light-green;
    }

    &__link--basket:active .user-list__icon {
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    width: 350px;

    &__link--basket {
      padding: 30px 0 34px 2px;
    }
  }
}
