$mobile-h1: 27px;
$tablet-h1: 43px;
$desktop-h1: 53px;
$tablet-modal: 30px;
$mobile-h2: 25px;
$mobile-up-sub: 19px;
$tablet-up-sub: 20px;
$mobile-contact: 18px;
$mobile-up-desc: 17px;
$mobile-desc: 15px;
$mobile-star: 14px;
$mobile-low: 13px;

$mobileh1-lineh: 30px/$mobile-h1;
$tableth1-lineh: 50px/$tablet-h1;
$desktoph1-lineh: 57px/$desktop-h1;
$mobile-lineh2: 20px/$mobile-h2;
$mobile-form-title: 30px/$mobile-h2;
$mobile-up-line: 20px/$mobile-up-desc;
$mobile-form-line: 16px/$mobile-up-desc;
$mobile-label-line: 18px/$mobile-up-desc;
$tablet-label-line: 18px/$mobile-up-sub;
$mobile-star-line: 16px/$mobile-star;
$tablet-star-line: 30px/$mobile-up-desc;
$tablet-feature-line: 22px/$tablet-up-sub;
$tablet-h3-line: 24px/$tablet-up-sub;
$tablet-product-line: 30px/$tablet-up-sub;
$tablet-modal-line: 57px/$tablet-modal;
$mobile-h3-line: 24px/$mobile-up-desc;
$mobile-desc-line: 24px/$mobile-low;
$mobile-product-line: 24px/$mobile-up-sub;
$mobile-hit-line: 24px/$mobile-desc;
$mobile-table-line: 20px/$mobile-desc;
$tablet-desc-line: 30px/$mobile-desc;

$font-bold: 700;
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
$light-green: #63d1bb;
$downy: #62d1ba;
$tundora: #444444;
$seashell: #f1f1f1;
$gallery: #ececec;
$puerto-rico: #46c1ae;
$silver: #c7c7c7;
$alabaster: #f9f9f9;
$viking: #59d5bc;
$fountain-blue: #56c3b2;
$alto: #d3d2d2;
$iceberg: #d3f2ec;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
